.navigation-container{
    max-width: 100%;
}

// MAIN NAV
.main-links{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    padding: 15px;

    @media (max-width: 450px){
        font-size: .7rem;
        padding: 12px;
    }
}

.links{
    padding: 15px;
    
    @media (max-width: 450px){
        padding: 10px;
    }
}

.links:hover{
    background:
    linear-gradient(
      to right,
      rgb(180,58,74),
      rgb(180,58,74)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

// LOGO AND SIGN IN
.head-links{
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;   
    width: 100%;
    padding: 5px 20px;
}

.logo{
    font-size: 3rem;
    color: rgb(180,58,74);

    @media (max-width: 450px){
        font-size: 2rem;

    }
}

.top-link{
    font-size: 2rem;
    color: rgb(180,58,74);
    padding-top: .7rem;

    @media (max-width: 450px){
        font-size: 1.5rem;
        padding-top: .5rem;
    }
}
