// UNIVERSAL STYLING
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: black;
    max-width: 100%;
}

h1{
    font-family: 'Lobster', cursive;
}

a:active, :visited, :link{
    color: black;
    text-decoration: none;
}